:root {
    --cor-principal: #48D1CC;
}

#navHeader {
    background-color: var(--cor-principal) !important;
}

#especialidades{
    margin-left: 300px;
}

#buttonEnviar{
    margin-left: 350px;
    border-radius: 10px;
}

#principal{
    margin-left: 300px;
}

#tittle{
    margin-left: 550px;
}

#logo {
    width: 130px;
    height: 65px;


}

.row {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    width: 900px;
    margin-top: 50px;
    margin-left: 10px;
}

#opcoes{
    opacity: 100%;
    background-color: black;
    width: 250px;
}
    
