
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
}
.page-footer{
    background-color: var(--cor-principal) !important;
    width: 100%;
    height: ;
}
.container{
    background-color:white ;
    width: 100%;
}

:root{
    --cor-principal: #48D1CC;
}
.brand-logo{
   
}

.card-title{
    color:black !important;
    font-size: 50px;
    

}

.row{
    width: 725px;
    

}

#body{
    background-color: #bcf2f9;
    height: 100%;
}

#BonLogin{
    width: 27px;
    height: 27px;
    
}

#LiLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#incons{
    margin-left: 20px;
}

#LilCadas{
    color: black;
}


    

#navHeader{
    background-color: var(--cor-principal) !important;
}

.white-text{
    color: black !important;
}


#buttonFechar{
    width:27px;
    height: 27px;
}

#imgAnunc{
    width: 300px;
    height: 200px;
}

#annuncement{
    background-color: var(--cor-principal) !important;
    width: 100%;
    
}
.card-title{
    justify-content: center;
    height: 100%;
}



#cards{
    display: flex;
    justify-content:center;
    height: 100%;
    
}

#inconSearch{
    color: black;
}

#inconeLinks{
    width: 27px;
    height: 27px;
}

#logo{
    width: 130px;
    height: 65px;
    

}

#sobre{
    margin-left: 650px;
}


#feedbacks{
    margin-left: 300px;
}




.sidebar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: relative;
    height: 100%;
    overflow: auto;
    display: flex;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    
}

.sidebar a.active {
    background-color:#87CEEB;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    position: fixed;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
    }

    .sidebar a {
        float:inline;
        position: relative;
    }

    div.content {
        margin-left: 0;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
        position: fixed;
    }
}