:root {
    --cor-principal: #48D1CC;
}

.page-footer {
    background-color: var(--cor-principal) !important;
}

.row{
    background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        width: 500px;
        margin-top:150px ;
}

#navHeader {
    background-color: var(--cor-principal) !important;
}

#buttonEnviar {
    background-color: var(--cor-principal) !important;
    margin-left: 600px;
}

#passwordDiv{
    margin-left: 3px;
}

#logo {
    width: 130px;
    height: 65px;


}

#tittle{
    margin-left: 560px;
}